body {
  background-color: #eeeeee;
  text-align: center;
  font-family: "Montserrat";
}

/* TOP */
/* Navbar */
.navbar {
  background-color: #07308a;
}

.nav-link, .navbar-brand {
  margin-right: 15px;
}

/* Header */
.header {
  min-height: 250px;
  max-height: 550px;
  padding: 0;
  overflow: hidden;
  background: rgb(0, 0, 0);
}

.header .img {
  width: 100%;
  opacity: 0.33;
}

.header .title {
  color: #ffffff;
  font-weight: bold;
  font-size: 3.8rem;
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header .title:hover {
  color: rgb(235, 235, 235);
}

.header .subtitle {
  color: #ebdbdb;
  font-weight: 390;
  font-size: 1.2rem;
  position: absolute;
  top: 330px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Top Box */
.top-box {
  position: relative;
  bottom: 100px;
  z-index: 1;
  padding: 60px 120px 60px 120px;
  background-color: rgb(240, 231, 231);
  border-top: 20px solid #5cf237;
}

.top-box .heading {
  margin-bottom: 35px;
}

/* Features */
.feature-row {
  margin-bottom: 250px;
}

.feature-img {
  max-width: 100%;
  border: 5px solid #5cf237;
  box-shadow: 3px 3px 3px 3px;
}

.feature-icon {
  width: 75px;
  margin-bottom: 2%;
}

.feature-heading {
  padding-bottom: 10px;
}

.feature-txt {
  padding-left: 20px;
  padding-right: 20px;
  color: #8a8a8a;
}

/* Contact */
#contact {
  padding: 100px;
  color: rgb(0, 248, 244);
  background-color: #000000;
}

.contact-icon {
  width: 85px;
}

.contact-heading {
  font-size: 1.5rem;
  margin: 5px auto 15px;
}

.contact-link {
  color: #6459c0;
}

.contact-link:hover {
  color: #f5f5f5;
}

/* Team */
#team{
  padding: 100px;
}

.team-title{
  margin-bottom: 50px;
  font-weight: 600;
}

.team-img{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

/* Footer */
#footer{
  padding: 50px;
  color: #000000;
  background-color: #ffffff;
}

@media (max-width: 991px) {
  /* Features */
  .feature-icon {
    display: none;
  }

  /* Contact */
  .contact-col-top{
    margin-bottom: 50px;
  }
}

/* Tablet */
@media (max-width: 767px) {

  /* Header */
  .header .title {
    transition: top 0.25s linear;
    top: 200px;
    font-size: 2.2rem;
  }

  .header .subtitle {
    transition: top 0.25s linear;
    top: 230px;
    font-size: 1rem;
  }

  .header .title-push-down {
    top: 300px;
  }

  .header .subtitle-push-down {
    top: 330px;
  }

  /* Top Box */
  .top-box {
    padding: 60px 60px 60px 60px;
  }

  /* Features */
  .feature-txt {
    margin-bottom: 50px;
  }

  /* Contact */
  .contact-col{
    margin-bottom: 50px;
  }

  /* Team */
  #team{
    display: none;
  }

  .nav-item-team{
    display: none;
  }
}

@media (max-width: 575px) {

  /* Header */
  .header .title {
    top: 130px;
    font-size: 2rem;
  }

  .header .subtitle {
    top: 160px;
    font-size: 0.8rem;
  }

  .header .title-push-down {
    top: 220px;
  }

  .header .subtitle-push-down {
    top: 250px;
  }

  /* Top Box */
  .top-box {
    padding: 60px 40px 60px 40px;
  }
}
